@import '../../color-swatches.scss';

.poke-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $light-orange;
    border: 2px solid $dark-blue;
    border-radius: 8px;
    margin: 10px;
    padding: 0.25rem;
    flex-grow: 1;
    width: 300px;
    cursor: pointer;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition: transform 0.25s ease-out;
    &:hover {
        transform: scale(1.05);
    }
    p{
        margin: 0;
    }
}