@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../app/color-swatches.scss";


@layer base {
 body {
    background-color: #dbf6e9;
    color: $dark-blue;
    font-family: var(--font-roboto-mono), monospace;
 }
 h1,h2,h3,h4 {
      font-family: var(--font-press-start-2p), cursive;
      text-transform: capitalize;
  }
}

h1 {
    font-size: 57px;
}





